.login-container {
    margin: 10px 150px;
    display: flex;
    flex-direction: column;    
    width: 400px;
}

h1.dashboard-shell-app-name {
  margin-left: 8px;
}
  
  /* .login-container > * {
    width: 100%;
  } */