<div style="padding: 10px">
  <mat-accordion multi="true">

    <mat-expansion-panel style="margin: 10px" *ngIf="iframeService.isAnyRoleExist(['admin','_member_'])">
      <mat-expansion-panel-header>
        <mat-panel-title>
          DicomDataListing
        </mat-panel-title>
      </mat-expansion-panel-header>

      <iframe class="iframe-continer" frameborder="0" [src]="urlInfoMap.get('dicomDataListingUrl')| safe"> </iframe>
    </mat-expansion-panel>


  </mat-accordion>
</div>
